//Material Icons
@import url(http://fonts.googleapis.com/icon?family=Material+Icons);

@import "node_modules/materialize-css/sass/components/color";
@import "variables";

//Materialize
@import "node_modules/materialize-css/sass/materialize";

//Minhas Classes
.my-custom-modal{
    width: 45%;
};

#app{
    background-color: #eceff1;
};

.card-content{    
    background-color: #e0e0e0;
}




